config/xml/configuracion_db_schema.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="DB_config">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="DB_type" type="xs:string"></xs:element>
                <xs:element name="DB_name" type="xs:string"></xs:element>
                <xs:element name="DB_host" type="xs:string"></xs:element>
                <xs:element name="USER_admin" type="xs:string"></xs:element>
                <xs:element name="USER_password" type="xs:string"></xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>